[submodule "pelican-plugins"]
    path = pelican-plugins
    url = https://github.com/getpelican/pelican-plugins.git

[submodule "nice-blog"]
    path = nice-blog
    url = https://github.com/gobrewers14/nice-blog.git
