[submodule "pelican-plugins"]
    path = pelican-plugins
    url = git@github.com/getpelican/pelican-plugins.git

[submodule "nice-blog"]
    path = nice-blog
    url = git@github.com:gobrewers14/nice-blog.git
